@page
@model Bpa_Test_2.Pages.Restaurants.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Restaurant.RestaurantID" />
            <div class="form-group">
                <label asp-for="Restaurant.RestaurantName" class="control-label"></label>
                <input asp-for="Restaurant.RestaurantName" class="form-control" />
                <span asp-validation-for="Restaurant.RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.Description" class="control-label"></label>
                <input asp-for="Restaurant.Description" class="form-control" />
                <span asp-validation-for="Restaurant.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.WaitTime" class="control-label"></label>
                <input asp-for="Restaurant.WaitTime" class="form-control" />
                <span asp-validation-for="Restaurant.WaitTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
